* {
	margin: 0;
	padding: 0;
}

body, html{
	width: 100%
	height: 100%;
}

#wrapper{
	width: 100%;
	background-color: orange;
}

#leftOuter{
	width: 35%;
	background-color: yellow;
	float: left;
}

#rightOuter{
	width: 65%;
	background-color: #DCDCDC;
	float: left;
}
#errorMessage{
	float: right;
	
}
.phrase{
	float: left;
	width: 50%;
}
.category{
	float: right;
	width: 50%;
}
