* {
	margin: 0;
	padding: 0;
}
body, html{
	width: 100%;
	height: 100%;
}
#master{
	width: 62.5em;
	background-color: orange;
    margin: auto;
}
#leftOuter{
	width: 50%;
	background-color: yellow;
	float: left;
}
#rightOuter{
	width: 50%;
	background-color: #DCDCDC;
	float: left;
}
#login-box{
    float: right;
}
#createGameButton{
    float:right;
}
#newGameDialog{
    background-color: yellow;
    width: 30%;
    border: solid 2px;
    margin: auto;
}
#createGameNameForm{
    width: 90%;
}
#createGameSubmit{
    width: 45%;
}
#createGameCancel{
    width: 45%;
}
#errorMessage{
	float: right;
}
.errorMessageHidden{
	visibility: hidden;
}
.showError{
	visibility: visible;
}
.phrase{
	float: left;
	width: 50%;
}
.category{
	float: right;
	width: 50%;
}
.wordWrapper{
	width: 3%;
	float: left;
	margin-left: 2em;
}
.wordToGuess{
	width: 0.5em;
	background-color: red;
	margin: auto;
}
.underlineForWord{
	width: 100%;
	height: 0.25em;
	background-color: black;
}
.wordToGuess{
	visibility: hidden;
}